# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [5]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources\hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [6]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'])
df.head()

       station       date  prcp  tobs
0  USC00519397 2010-01-01  0.08    65
1  USC00519397 2010-01-02  0.00    63
2  USC00519397 2010-01-03  0.00    74
3  USC00519397 2010-01-04  0.00    76
4  USC00519397 2010-01-06   NaN    73

In [8]:
# Set the date column as the DataFrame index
df.set_index(df['date'], inplace=True)
df.head()

                station       date  prcp  tobs
date
2010-01-01  USC00519397 2010-01-01  0.08    65
2010-01-02  USC00519397 2010-01-02  0.00    63
2010-01-03  USC00519397 2010-01-03  0.00    74
2010-01-04  USC00519397 2010-01-04  0.00    76
2010-01-06  USC00519397 2010-01-06   NaN    73

In [9]:
# Drop the date column
df.drop(columns=['date'], inplace=True)
df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

### Compare June and December data across all years

In [10]:
from scipy import stats

In [11]:
# Get dates for the start and end of the data
start_date = df.index.min()
print(f"Start date: {start_date}")
end_date = df.index.max()
print(f"End date: {end_date}")

Start date: 2010-01-01 00:00:00
End date: 2017-08-23 00:00:00

In [16]:
# Filter data for june and december months
june_df = df.filter(items=['date'], axis=0, like='%06',regex=True)
june_df.head()

TypeError: Keyword arguments `items`, `like`, or `regex` are mutually exclusive

In [ ]:
# Identify the average temperature for June

In [ ]:
# Identify the average temperature for December

In [ ]:
# Create collections of temperature data

In [ ]:
# Run paired t-test

### Analysis